* {
  box-sizing: border-box;
}
.cf {
  clear: both;
}
body {
  font: normal normal 22px/normal sans-serif;
  padding: 0;
  margin: 0;
}
.nav-bar {
  background-image: linear-gradient(-90deg, #84CF6A, #16C0B0);
  padding: 10px 0;
  color: #3F51B5;
  text-align: center;
  font-family: 'Righteous';
}
.nav-bar h1 {
  margin: 0;
  font-size: 1.8em;
}
.product-image,
.product-info {
  width: 50%;
  float: left;
}

@media screen and (max-width: 761px) {
  .product-image,
  .product-info {
    float: none;
    width: 100%;

  }
  .product-info {
    text-align: center;
  }
  ul {
    list-style: none
  }
  .color-box {
    margin: 10px auto !important;
  }
}
.product-image {
  text-align: center;
}
.product-image img {
  width: 75%;
  height: 43vh !important;
}
.color-box {
  width: 40px;
  height: 40px;
  margin: 5px 10px 10px;
  cursor: pointer;
}
.product-info button {
  cursor: pointer;
  font: inherit;
  padding: 10px;
  background-color: #45f;
  border: none;
  color: #fff;
  border-radius: 2px;
}
.cart {
  padding: 10px 50px;
  margin: 10px 20px 0;
  border: 1px solid #ccc;
  font: inherit;
  display: inline-block;
  font-family: 'Righteous', sans-serif;
  position: relative;
  left: calc(99% - 200px);
}
.cart p {
  margin: 0;
}
.disabledBtn {
  background-color: #d8d8d8 !important;
  cursor: not-allowed !important;
}

.review-form {
  font: inherit;
  margin: 10px 0 0 0;
  font-family: "Roboto";
  width: 100%;
  padding: 0 20px;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.review-form p {
  margin: .8em 0;
}
input:not([type="submit"]), textarea {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  color: #444;
  font-size: .72em;
  font-family: "Roboto";
  font-wieght: 500;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s linear;
  border-radius: calc(1em/2)
}
input:not([type="submit"])::placeholder, textarea::placeholder {
  font-size: 1.3em;
}
input:not([type="submit"]):focus, textarea:focus {
  color: #333;
  border: 2px solid #44c4e7;
  font-size: .8em;
}

textarea {
  width: 100%;
  height: 80px;
}

select {
  padding: 2px 30px;
  border: 2px solid #ccc;
  color: #444;
  font-family: "Roboto";
  font-size: .8em;
  font-wieght: 500;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s linear;
  border-radius: calc(1em/2)
}

input[type="submit"] {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: none;
  background-color: #44c4e7;
  color: #FFF;
  font-weight: 400;
  font-size: .85em;
  font-family: "Roboto";
  font-wieght: 500;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s linear;
  border-radius: calc(1em/2)
}

input[type="submit"]:hover {
  opacity: .95;
  cursor: pointer;
}

div#comment {
  float: none;
  display: block;
  width: 100%;
  padding: 0 8px
}

div#reviews {
  padding: 0 0 0 15px;
  font-family: "Roboto"
}
.tabs {
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto"
}

.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}